body {
    font-family: 'Public Sans', sans-serif; /* Set the font family to Public Sans */
    margin: 0;
    padding: 0;
    display: flex;
}

.content {
    flex: 0 0 30%; /* Take up 30% of the remaining width */
    padding: 1rem;
    background-color: #E2E25E;
    display: flex;
    flex-direction: column; /* Stack divs vertically */
    justify-content: flex-start; /* Align divs to the top */
    align-items: stretch; /* Stretch divs to full width */
}

.content2 {
    flex: 0 0 70%; /* Take up 70% of the remaining width */
    padding: 1rem;
    background-color: #151619;
}
.div1,
.div2,
.div4 {
    flex: 0 0 10%; /* Divs 1, 2, and 4 take 10% of the .content height */
}

.div3 {
    display: flex;
    flex-wrap: wrap; /* Allow boxes to wrap to the next row */
    justify-content: space-between; /* Distribute boxes evenly across the row */
    background-color: #E2E25E;
    flex: 0 0 70%;
    padding: 1rem;
    border-radius: 10px; /* Add rounded edges */
}

.div1 {
    font-weight: bold;
    font-size: 24px;
    display: flex; /* Enable flexbox layout */
    align-items: center; /* Vertically center the content */
}
.div2 {
    align-items: center; /* Vertically center the content */
}

.div4 {
    background-color: blue;
}

.bold-bigger {
    font-weight: bold;
    font-size: 35px;
}
.flex-center {
    display: flex;
    align-items: center;
}

.box {
    flex-basis: calc(50% - 1rem); /* Each box takes up half of the available width minus padding */
    margin-bottom: 1rem;
    background-color: #eceb8d;
    padding: 1rem;
    border-radius: 10px;
    box-sizing: border-box;
}

