body {
    font-family: 'Public Sans', sans-serif; /* Set the font family to Public Sans */
    margin: 0;
    padding: 0;
    display: flex;

}

.content {
    flex: 0 0 30%; /* Take up 30% of the remaining width */
    padding: 1rem;
    background-color: #E2E25E;
    display: flex;
    flex-direction: column; /* Stack divs vertically */
    justify-content: flex-start; /* Align divs to the top */
    align-items: stretch; /* Stretch divs to full width */
}

.content2 {
    flex: 0 0 70%; /* Take up 70% of the remaining width */
    padding: 1rem;
    background-color: #151619;
}
.div1,
.div2,
.div4 {
    flex: 0 0 10%; /* Divs 1, 2, and 4 take 10% of the .content height */
}

.div3 {
    display: flex;
    flex-wrap: wrap; /* Allow boxes to wrap to the next row */
    justify-content: space-between; /* Distribute boxes evenly across the row */
    background-color: #E2E25E;
    flex: 0 0 70%;
    padding: 1rem;
    border-radius: 10px; /* Add rounded edges */
}

.div1 {
    font-weight: bold;
    font-size: 24px;
    display: flex; /* Enable flexbox layout */
    align-items: center; /* Vertically center the content */
    white-space: nowrap; /* Prevent line breaks */
}
.div2 {
    align-items: center; /* Vertically center the content */
}

.div4 {
    background-color: #E2E25E;
}

.bold-bigger {
    font-weight: bold;
    font-size: 35px;
}
.flex-center {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.box {
    flex-basis: calc(50% - 1rem); /* Each box takes up half of the available width minus padding */
    margin-bottom: 1rem;
    background-color: #eceb8d;
    padding: 1rem;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.custom-button {
    display: flex;
    align-items: center;
  }

  .custom-button svg {
    width: 24px;
    height: 20px;
    margin-right: 8px;
  }

  .full-width-button {
    width: 100%;
    height: 100%;
    border-radius: 50px;

}

.content2 {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 20px;
}

.top-section, .bottom-section {
    flex-grow: 1;
    padding: 20px;
    box-sizing: border-box;
}

.top-section {
    display: flex;
    justify-content: space-between; /* Distribute boxes evenly across the container */
    background-color: #151619;
    padding: 1rem;
    border-radius: 10px;
}

.bottom-section {
    display: flex;
    justify-content: space-between; /* Distribute boxes evenly across the container */
    background-color: #151619;
    padding: 1rem;
    border-radius: 10px;
}

.betbox {
    background-color: #1a1c20;
    padding: 1rem;
    border-radius: 10px;
    flex: 1; /* Equal flex distribution for all boxes */
    margin-right: 1rem; /* Add spacing between boxes */
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.full-width-button-new {
    width: 100%;
    border-radius: 50px;
    margin-bottom: 0.5rem; /* Adjust this value to control the padding between buttons */

}





